* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e9ed;
}

.player {
  background: #eff3f5;
  border-radius: 30px;
  max-width: 380px;
  width: 100%;
  padding: 25px;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2b3c5b;
    text-align: center;
  }

  .cover {
    display: flex;
    justify-content: center;
    margin: 25px 0;

    .cover_img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      &.active {
        animation: rotateAnimation 3s linear infinite;
      }
    }
  }

  .song {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #2b3c5b;
    text-align: center;
  }

  .progress_container {
    background: #e4e9ed;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;

    .progress {
      background: #2b3c5b;
      border-radius: 5px;
      height: 6px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 184px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;

    .btn {
      cursor: pointer;
    }
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
